.unit {
    position: absolute;
    cursor: pointer;
    user-select: none;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--selection-inactive);
}

.selected {
    border: 1px solid var(--selection-active);
    background-color: var(--selection-inactive);
}